<%- include('../includes/head.ejs') %>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Add Product</h1>
            <form method="post" action="/admin/product-process">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="title" id="field-2" placeholder="Book Name">
                    </div>

                    <div class="field half">
                        <input type="text" name="author" id="field-3" placeholder="Author Name">
                    </div>

                    <div class="field half">
                        <input type="number" name="price" id="field-4" placeholder="Price">
                    </div>

                    <div class="field half">
                        <input type="text" name="description" id="field-5" placeholder="Description">
                    </div>

                    <div class="field half text-right">
                        <ul class="actions">
                            <li><input type="submit" value="Add" class="primary"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <%- include('../includes/footer.ejs') %>
        </div>
    </footer>

    </div>

    <!-- Scripts -->

    <%- include('../includes/scripts.ejs') %>
        </body>

        </html>