<%- include('../includes/head.ejs') %>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Checkout</h1>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <form method="post" action="/checkout">
                    <div class="fields">
                        <div class="field half">
                            <select name="title">
                                <option value="">-- Choose Title</option>
                                <option value="dr">Dr.</option> 
                                <option value="miss">Miss</option>
                                <option value="mr">Mr.</option> 
		                        <option value="mrs">Mrs.</option>
		                        <option value="ms">Ms.</option>
		                        <option value="other">Other</option>
		                        <option value="prof">Prof</option>
		                        <option value="rev"> Rev.</option>
							</select>
                        </div>

                        <div class="field half">
                            <input type="text" name="name" id="field-2" placeholder="Name">
                        </div>

                        <div class="field half">
                            <input type="text" name="email" id="field-3" placeholder="Email">
                        </div>

                        <div class="field half">
                            <input type="tel" name="phone" id="field-4" placeholder="Phone">
                        </div>

                        <div class="field half">
                            <input type="text" name="address" id="field-5" placeholder="Address">
                        </div>

                        <div class="field half">
                            <input type="text" name="city" id="field-7" placeholder="City">
                        </div>

                        <div class="field half">
                            <input type="text" name="state" id="field-8" placeholder="State">
                        </div>

                        <div class="field half">
                            <input type="text" name="zip" id="field-7" placeholder="Zip">
                        </div>

                        <div class="field half">
                            <select name="country">
		                        <option value="">-- Choose Count</option>
		                        <option value="india">India </option>
		                        <option value="la">LA</option>
		                        <option value="canada">Canada</option>
							</select>
                        </div>

                        <div class="field half">

                            <select name="payment">
		                        <option value="">-- Choose Payment Meth</option>
		                        <option value="dabit">Dabit/ATM card</option>
		                        <option value="net">Net  Banking</option>
		                        <option value="credit"> Credit card</option>
							</select>
                        </div>

                        <div class="field">
                            <div>
                                <input type="checkbox" id="checkbox-4">

                                <label for="checkbox-4">
                                    I agree with the 
                                    <a href="/terms" target="_blank">Terms &amp; Conditions</a>
					            </label>
                            </div>
                        </div>

                        <div class="field half text-right">
                            <ul class="actions">
                                <li><input type="submit" value="Finish" class="primary"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            <section>
                <h2>Contact Info</h2>

                <ul class="alt">
                    <li><span class="fa fa-envelope-o"></span> <a href="#">contact@company.com</a></li>
                    <li><span class="fa fa-phone"></span> +1 333 4040 5566 </li>
                    <li><span class="fa fa-map-pin"></span> 212 Barrington Court New York, ABC 10001 United States of America</li>
                </ul>

                <h2>Follow Us</h2>

                <%- include('../includes/footer.ejs') %>
        </div>
    </footer>

    </div>

    <!-- Scripts -->

    <%- include('../includes/scripts.ejs') %>
        </body>

        </html>