<html>

<body>
    <h1>Add Product</h1>
    <form method="POST" action="/form-process">
        <table>
            <tr>
                <td><label>Book Name:</label></td>
                <td> <input type="text" name="txt1" required /></td>
            </tr>

            <tr>
                <td><label>Author Name:</label></td>
                <td><input type="text" name="txt2" required /></td>
            </tr>

            <tr>
                <td> <label> Price :</label></td>
                <td> <input type="number" name="txt3" required /></td>
            </tr>

            <tr>
                <td colspan="1"></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>

</html>